.success-msg{
    color: green;
    cursor: pointer;
}
.error-msg{
    color: red;
    cursor: pointer;
}
.link:hover {
    color: #0056b3;
    cursor: pointer;
    text-decoration: underline;
}
.link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.edit-icon{
    margin-left: 1%;
}
