a.mn-item {
    color: rgba(0,0,0,.7);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
a.mn-item.active {
    color: rgba(0,0,0,.9);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
